h2 {
    color: red;
    text-align: center;
    border: 5px solid purple;
}
p{
    color: green;
    text-transform: uppercase;
}
body {
    background-image: url(background.jpeg);
}
li{
    list-style: none;
    display: inline-block;
}
.partext{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
